USE [master]
GO
/****** Object:  Database [db_schedule]    Script Date: 23/12/2022 16:34:46 ******/
CREATE DATABASE [db_schedule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_schedule', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_schedule.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_schedule_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_schedule_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_schedule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_schedule]
GO
/****** Object:  Table [dbo].[data_item]    Script Date: 23/12/2022 16:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_item](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[type_item] [varchar](50) NULL,
	[tanggal_pembuatan] [date] NULL,
	[berat_produk] [float] NULL,
	[std_spray] [varchar](50) NULL,
	[jenis] [varchar](50) NULL,
 CONSTRAINT [PK_data_mould] PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_mesin]    Script Date: 23/12/2022 16:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_mesin](
	[id_mesin] [int] NOT NULL,
	[no_mesin] [int] NULL,
	[item] [varchar](100) NULL,
	[last_updated] [datetime] NULL,
 CONSTRAINT [PK_data_mesin] PRIMARY KEY CLUSTERED 
(
	[id_mesin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_pm]    Script Date: 23/12/2022 16:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_pm](
	[id_pm] [int] IDENTITY(1,1) NOT NULL,
	[start_date] [date] NULL,
	[actual_date] [date] NULL,
	[shift] [int] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_data_pm] PRIMARY KEY CLUSTERED 
(
	[id_pm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_rak]    Script Date: 23/12/2022 16:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_rak](
	[id_rak] [varchar](50) NOT NULL,
	[jenis_rak] [varchar](50) NULL,
	[status] [int] NULL,
	[last_update] [datetime] NULL,
	[keterangan] [varchar](100) NULL,
 CONSTRAINT [PK_data_rak] PRIMARY KEY CLUSTERED 
(
	[id_rak] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[data_trimdies]    Script Date: 23/12/2022 16:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_trimdies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type_trimdies] [varchar](100) NULL,
	[no_trimdies] [int] NULL,
	[jarak_pisau] [float] NULL,
	[jenis] [varchar](50) NULL,
 CONSTRAINT [PK_data_trimdies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history]    Script Date: 23/12/2022 16:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[type] [varchar](50) NULL,
	[last_update] [datetime] NULL,
	[keterangan] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[data_item] ON 

INSERT [dbo].[data_item] ([id_item], [type_item], [tanggal_pembuatan], [berat_produk], [std_spray], [jenis]) VALUES (1, N'CG80-1P', CAST(N'2022-08-10' AS Date), 93, NULL, N'Mould')
INSERT [dbo].[data_item] ([id_item], [type_item], [tanggal_pembuatan], [berat_produk], [std_spray], [jenis]) VALUES (2, N'CG80-2P', CAST(N'2022-08-09' AS Date), 93, NULL, N'Mould')
INSERT [dbo].[data_item] ([id_item], [type_item], [tanggal_pembuatan], [berat_produk], [std_spray], [jenis]) VALUES (3, N'CG80-3P', CAST(N'2022-10-11' AS Date), 93, N'4-4 LAYER', N'Mould')
SET IDENTITY_INSERT [dbo].[data_item] OFF
GO
INSERT [dbo].[data_mesin] ([id_mesin], [no_mesin], [item], [last_updated]) VALUES (1, 1, NULL, NULL)
INSERT [dbo].[data_mesin] ([id_mesin], [no_mesin], [item], [last_updated]) VALUES (2, 2, NULL, NULL)
INSERT [dbo].[data_mesin] ([id_mesin], [no_mesin], [item], [last_updated]) VALUES (3, 3, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[data_pm] ON 

INSERT [dbo].[data_pm] ([id_pm], [start_date], [actual_date], [shift], [created_at]) VALUES (1, CAST(N'2022-11-02' AS Date), CAST(N'2022-11-03' AS Date), 1, CAST(N'2022-10-12T14:45:41.190' AS DateTime))
INSERT [dbo].[data_pm] ([id_pm], [start_date], [actual_date], [shift], [created_at]) VALUES (2, CAST(N'2022-11-08' AS Date), NULL, NULL, CAST(N'2022-10-13T08:30:54.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[data_pm] OFF
GO
INSERT [dbo].[data_rak] ([id_rak], [jenis_rak], [status], [last_update], [keterangan]) VALUES (N'A1', N'Mould', 0, CAST(N'2022-11-23T10:46:27.000' AS DateTime), NULL)
INSERT [dbo].[data_rak] ([id_rak], [jenis_rak], [status], [last_update], [keterangan]) VALUES (N'A10', N'Mould', 0, NULL, NULL)
INSERT [dbo].[data_rak] ([id_rak], [jenis_rak], [status], [last_update], [keterangan]) VALUES (N'A11', N'Mould', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[data_trimdies] ON 

INSERT [dbo].[data_trimdies] ([id], [type_trimdies], [no_trimdies], [jarak_pisau], [jenis]) VALUES (1, N'TD JUGU CG-YG 1', 1, 144.5, N'Trimdies')
INSERT [dbo].[data_trimdies] ([id], [type_trimdies], [no_trimdies], [jarak_pisau], [jenis]) VALUES (2, N'TD JUGU CG-YG 2', 2, 144.5, N'Trimdies')
INSERT [dbo].[data_trimdies] ([id], [type_trimdies], [no_trimdies], [jarak_pisau], [jenis]) VALUES (3, N'TD JUGU CG-YG 3', 3, 144.5, N'Trimdies')
SET IDENTITY_INSERT [dbo].[data_trimdies] OFF
GO
ALTER TABLE [dbo].[data_pm] ADD  CONSTRAINT [DF_data_pm_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
